header{
    top: 0px;
    left: 0px;
    width: 100%;
    height: 60px;
    background-color: black;
}

.menu{
    float: left;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 30px;
    color: white;
    line-height: 10px;
    font-size: 20px;
}

header ul{
    float: left;

}

header ul li{
    float: left;
    list-style: none;
    padding-right: 30px;
    color: white;
    font-size: 20px;
}

h1{
   border-left: 5px solid gray;
   border-bottom: 2px solid gray;
   font-size: 40px;
}

h2{
    font-size: 20px;
}

h3{
    font-size: 20px;
}

h4{
     font-size: 15px;
}

.box1{
    float: left;
    background-color: lightgray;
    text-align: center;
    display: flex;
    width: 100%;
}

.box1 .box1_pic1{
    display: inline-block;
    padding-top: 30px;
    margin: 0 auto;
}

.box1 img{
    width: 80%;
}

.box2{
    float: left;
    background-color: lightgray;
    text-align: center;
    display: flex;
    width: 100%;
    margin-bottom: 30px;
}

.box2 .box2_pic1{
    display: inline-block;
    padding-top: 10px;
}

.box2 img{
    width: 80%;
    margin-left: 2px;
}

p{
    font-size: 10px; 
}

h5{
    border-bottom: 2px solid gray;
    font-size: 20px;
}

main{
   display: flex;
   float: left;
}

.left{
    width: 70%;
    border: 5px solid blue;
}

.right{
    width: 30%;
    border: 5px solid red; 
}

li{
    list-style: none;
    font-size: 15px;
}

footer{
    clear: left;
    width: 100%;
    height: 30px;
    bottom: 0px;
    left: 0px;
    padding-top: 10px;
    color: white;
    background-color: black;
    text-align: center;
    font-size: 20px;
   
}